::-webkit-scrollbar {
        width: 12px;
      }
      ::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom, #c03d2f, #000);
        border-radius: 6px;
      }
      ::-webkit-scrollbar-track {
        background: #ffffff;
        border-radius: 6px;
      }
      .swiper {
        width: 100%;
        height: 100%;
      }
      @media (max-width: 900px) {
        #headline h2 {
          font-size: 12px;
        }
      }
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @media (max-width: 900px) {
        main {
          padding-bottom: 0px !important;
        }
        footer {
          margin-top: 30px;
        }
      }
      .cpd-ribbon {
        display: none;
      }
      div#cpd-NaN {
        display: none;
      }
      @media (max-width: 900px) {
        .guarantee .content,
        .guarantee > img {
          max-width: 300px;
          width: 100%;
        }
      }
	  
	  
	   ._A8FZTrq7_XMl35_KpnWY9J * {
  box-sizing: border-box; }

._A8FZTrq7_XMl35_KpnWY9J {
  /**
   * Positions
   */ }
  ._A8FZTrq7_XMl35_KpnWY9J .cpd-logo {
    width: 83px !important;
    height: 20.8167px;
    padding-top: 4px;
    display: inline-block; }
  ._A8FZTrq7_XMl35_KpnWY9J a {
    border: none;
    outline: none;
    font-size: 8px;
    font-weight: bold;
    padding-left: 48px;
    display: block;
    text-decoration: none;
    font-family: Open Sans, Arial, sans-serif !important; }
    ._A8FZTrq7_XMl35_KpnWY9J a img {
      outline: none;
      border: none;
      vertical-align: middle; }
    ._A8FZTrq7_XMl35_KpnWY9J a > div {
      display: inline-block;
      vertical-align: baseline; }
  ._A8FZTrq7_XMl35_KpnWY9J .cpd-trust {
    text-transform: uppercase; }
  ._A8FZTrq7_XMl35_KpnWY9J .cpd-lock {
    display: inline-block;
    width: 20px !important;
    position: relative;
    top: -6px;
    left: 11px; }
  ._A8FZTrq7_XMl35_KpnWY9J .cpd-ribbon {
    position: absolute;
    overflow: hidden;
    text-align: right;
    width: 185px;
    height: 185px;
    pointer-events: none;
    z-index: 100; }
    ._A8FZTrq7_XMl35_KpnWY9J .cpd-ribbon > span {
      font-size: 10px;
      color: #fff;
      text-align: left;
      line-height: 15px;
      width: 245px;
      display: block;
      pointer-events: all;
      position: absolute; }
  ._A8FZTrq7_XMl35_KpnWY9J.cpd-top-right .cpd-ribbon {
    right: 0;
    top: 0; }
    ._A8FZTrq7_XMl35_KpnWY9J.cpd-top-right .cpd-ribbon > span {
      transform: rotate(45deg);
      top: 43px;
      right: -82px; }
    ._A8FZTrq7_XMl35_KpnWY9J.cpd-top-right .cpd-ribbon .cpd-lock {
      transform: rotate(-90deg) scale(1.5);
      padding-left: 6px; }
  ._A8FZTrq7_XMl35_KpnWY9J.cpd-bottom-left {
    position: relative; }
    ._A8FZTrq7_XMl35_KpnWY9J.cpd-bottom-left .cpd-ribbon {
      left: 0;
      bottom: 0; }
      ._A8FZTrq7_XMl35_KpnWY9J.cpd-bottom-left .cpd-ribbon > span {
        transform: rotate(45deg);
        bottom: 22px;
        left: -58px; }
      ._A8FZTrq7_XMl35_KpnWY9J.cpd-bottom-left .cpd-ribbon .cpd-lock {
        transform: rotate(-90deg) scale(1.5);
        padding-left: 6px; }
  ._A8FZTrq7_XMl35_KpnWY9J.cpd-top-left .cpd-ribbon {
    left: 0;
    top: 0; }
    ._A8FZTrq7_XMl35_KpnWY9J.cpd-top-left .cpd-ribbon > span {
      transform: rotate(-45deg);
      top: 18px;
      left: -57px; }
    ._A8FZTrq7_XMl35_KpnWY9J.cpd-top-left .cpd-ribbon .cpd-lock {
      transform: rotate(90deg) scale(1.5);
      padding-right: 5px; }
  ._A8FZTrq7_XMl35_KpnWY9J.cpd-bottom-right {
    position: relative; }
    ._A8FZTrq7_XMl35_KpnWY9J.cpd-bottom-right .cpd-ribbon {
      right: 0;
      bottom: 0; }
      ._A8FZTrq7_XMl35_KpnWY9J.cpd-bottom-right .cpd-ribbon > span {
        transform: rotate(-45deg);
        bottom: 45px;
        right: -82px; }
      ._A8FZTrq7_XMl35_KpnWY9J.cpd-bottom-right .cpd-ribbon .cpd-lock {
        transform: rotate(90deg) scale(1.5);
        padding-right: 6px; }
  ._A8FZTrq7_XMl35_KpnWY9J.cpd-sticky .cpd-ribbon {
    position: fixed; }
  @media (min-width: 1024px) {
    ._A8FZTrq7_XMl35_KpnWY9J {
      /* Positions */ }
      ._A8FZTrq7_XMl35_KpnWY9J .cpd-logo {
        width: 100px;
        height: 22.8167px;
        padding-top: 5px; }
      ._A8FZTrq7_XMl35_KpnWY9J .cpd-ribbon > span {
        line-height: 20px; }
      ._A8FZTrq7_XMl35_KpnWY9J a {
        font-size: 10px; }
      ._A8FZTrq7_XMl35_KpnWY9J .cpd-lock {
        width: 23px; }
      ._A8FZTrq7_XMl35_KpnWY9J.cpd-top-right .cpd-ribbon > span {
        right: -52px; }
      ._A8FZTrq7_XMl35_KpnWY9J.cpd-top-left .cpd-ribbon > span {
        top: 44px;
        left: -52px; }
      ._A8FZTrq7_XMl35_KpnWY9J.cpd-bottom-left .cpd-ribbon > span {
        bottom: 50px;
        left: -51px; }
      ._A8FZTrq7_XMl35_KpnWY9J.cpd-bottom-right .cpd-ribbon > span {
        bottom: 50px;
        right: -51px; } }
  @media (max-device-width: 768px) {
    ._A8FZTrq7_XMl35_KpnWY9J.cpd-bottom-right .cpd-ribbon, ._A8FZTrq7_XMl35_KpnWY9J.cpd-bottom-left .cpd-ribbon, ._A8FZTrq7_XMl35_KpnWY9J.cpd-top-right .cpd-ribbon, ._A8FZTrq7_XMl35_KpnWY9J.cpd-top-left .cpd-ribbon {
      width: unset;
      height: unset;
      left: 0;
      right: 0; }
      ._A8FZTrq7_XMl35_KpnWY9J.cpd-bottom-right .cpd-ribbon > span, ._A8FZTrq7_XMl35_KpnWY9J.cpd-bottom-left .cpd-ribbon > span, ._A8FZTrq7_XMl35_KpnWY9J.cpd-top-right .cpd-ribbon > span, ._A8FZTrq7_XMl35_KpnWY9J.cpd-top-left .cpd-ribbon > span {
        width: 100%;
        transform: unset;
        position: relative; }
        ._A8FZTrq7_XMl35_KpnWY9J.cpd-bottom-right .cpd-ribbon > span > a, ._A8FZTrq7_XMl35_KpnWY9J.cpd-bottom-left .cpd-ribbon > span > a, ._A8FZTrq7_XMl35_KpnWY9J.cpd-top-right .cpd-ribbon > span > a, ._A8FZTrq7_XMl35_KpnWY9J.cpd-top-left .cpd-ribbon > span > a {
          text-align: center;
          padding-left: 0; }
    ._A8FZTrq7_XMl35_KpnWY9J.cpd-bottom-right .cpd-ribbon > span, ._A8FZTrq7_XMl35_KpnWY9J.cpd-bottom-left .cpd-ribbon > span {
      bottom: 0;
      right: 0;
      left: 0; }
    ._A8FZTrq7_XMl35_KpnWY9J.cpd-bottom-right .cpd-ribbon .cpd-lock, ._A8FZTrq7_XMl35_KpnWY9J.cpd-bottom-left .cpd-ribbon .cpd-lock {
      transform: scale(1.5);
      top: -11px; }
    ._A8FZTrq7_XMl35_KpnWY9J.cpd-bottom-right.cpd-shift-1.cpd-sticky, ._A8FZTrq7_XMl35_KpnWY9J.cpd-bottom-left.cpd-shift-1.cpd-sticky {
  }
      ._A8FZTrq7_XMl35_KpnWY9J.cpd-bottom-right.cpd-shift-1.cpd-sticky .cpd-ribbon, ._A8FZTrq7_XMl35_KpnWY9J.cpd-bottom-left.cpd-shift-1.cpd-sticky .cpd-ribbon {
        bottom: 46px; }
    ._A8FZTrq7_XMl35_KpnWY9J.cpd-top-right, ._A8FZTrq7_XMl35_KpnWY9J.cpd-top-left {
      height: 38.11px; }
      ._A8FZTrq7_XMl35_KpnWY9J.cpd-top-right .cpd-ribbon > span, ._A8FZTrq7_XMl35_KpnWY9J.cpd-top-left .cpd-ribbon > span {
        top: 0;
        right: 0;
        left: 0; }
      ._A8FZTrq7_XMl35_KpnWY9J.cpd-top-right .cpd-ribbon .cpd-lock, ._A8FZTrq7_XMl35_KpnWY9J.cpd-top-left .cpd-ribbon .cpd-lock {
        transform: scale(1.5);
        top: -11px; } }

._A8FZTrq7_XMl35_KpnWY9J.cpd-doubleline .cpd-ribbon > span::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -5px;
  height: 3px;
  width: 110%;
  background: white;
  border-top: #0288D1 3px solid;
  box-shadow: 0 3px 10px -5px black; }

._A8FZTrq7_XMl35_KpnWY9J.cpd-doubleline .cpd-ribbon > span::after {
  content: '';
  position: absolute;
  bottom: -4px;
  right: -5px;
  height: 3px;
  width: 110%;
  background: white;
  border-bottom: #0288D1 3px solid;
  box-shadow: 0 3px 10px -5px black; }

._A8FZTrq7_XMl35_KpnWY9J.cpd-gold.cpd-doubleline .cpd-ribbon > span::before {
  background: linear-gradient(to bottom, #efd100 0, #e2a233 38%, #f0c328 60%, #fff1a3 86%, #ffe13e 100%);
  height: 5px;
  border: none; }

._A8FZTrq7_XMl35_KpnWY9J.cpd-gold.cpd-doubleline .cpd-ribbon > span::after {
  background: linear-gradient(to bottom, #efd100 0, #e2a233 38%, #f0c328 60%, #fff1a3 86%, #ffe13e 100%);
  height: 5px;
  border: none; }

._A8FZTrq7_XMl35_KpnWY9J.cpd-gold .cpd-ribbon > span {
  background: linear-gradient(to bottom, rgba(239, 209, 0, 0.75) 0, rgba(226, 162, 51, 0.75) 38%, rgba(240, 195, 40, 0.75) 60%, rgba(255, 241, 163, 0.75) 86%, rgba(255, 225, 62, 0.75) 100%); }

._A8FZTrq7_XMl35_KpnWY9J.cpd-gold.cpd-dark .cpd-ribbon > span {
  background: linear-gradient(to top, #efd100 0, #e2a233 38%, #f0c328 60%, #fff1a3 86%, #ffe13e 100%); }

._A8FZTrq7_XMl35_KpnWY9J a {
  color: #404040; }
  ._A8FZTrq7_XMl35_KpnWY9J a:visited {
    color: #404040; }

._A8FZTrq7_XMl35_KpnWY9J .cpd-ribbon > span {
  background: #fff; }

._A8FZTrq7_XMl35_KpnWY9J.cpd-green .cpd-ribbon > span {
  background: linear-gradient(#f2ffe0 0%, #d1ff8c 100%); }

._A8FZTrq7_XMl35_KpnWY9J.cpd-green.cpd-doubleline .cpd-ribbon > span::before {
  border-top-color: #9BC90D; }

._A8FZTrq7_XMl35_KpnWY9J.cpd-green.cpd-doubleline .cpd-ribbon > span::after {
  border-bottom-color: #79A70A; }

._A8FZTrq7_XMl35_KpnWY9J.cpd-red .cpd-ribbon > span {
  background: linear-gradient(#ffbfbf 0%, #ce6969 100%); }

._A8FZTrq7_XMl35_KpnWY9J.cpd-red.cpd-doubleline .cpd-ribbon > span::before {
  border-top-color: #F70505; }

._A8FZTrq7_XMl35_KpnWY9J.cpd-red.cpd-doubleline .cpd-ribbon > span::after {
  border-bottom-color: #8F0808; }

._A8FZTrq7_XMl35_KpnWY9J.cpd-blue .cpd-ribbon > span {
  background: linear-gradient(#e0f3ff 0%, #addaff 100%); }

._A8FZTrq7_XMl35_KpnWY9J.cpd-blue.cpd-doubleline .cpd-ribbon > span::before {
  border-top-color: #2989d8; }

._A8FZTrq7_XMl35_KpnWY9J.cpd-blue.cpd-doubleline .cpd-ribbon > span::after {
  border-bottom-color: #1e5799; }
  
  ._1j2t1DPDp4o5VU-RniczLb * {
  box-sizing: border-box; }

._1j2t1DPDp4o5VU-RniczLb .cpd-modal {
  font-family: Open Sans, Arial, sans-serif !important;
  display: none;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 2147483647;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0; }
  ._1j2t1DPDp4o5VU-RniczLb .cpd-modal.cpd-open {
    display: block; }
  ._1j2t1DPDp4o5VU-RniczLb .cpd-modal .cpd-dialog {
    max-width: 550px;
    margin: 0 auto;
    border: 1px solid #ccc;
    color: #2f485c;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    top: 20px;
    position: relative;
    background-color: #fff; }
    ._1j2t1DPDp4o5VU-RniczLb .cpd-modal .cpd-dialog .cpd-header {
      padding: 5px 15px;
      border-bottom: 1px solid #ccc; }
      ._1j2t1DPDp4o5VU-RniczLb .cpd-modal .cpd-dialog .cpd-header a, ._1j2t1DPDp4o5VU-RniczLb .cpd-modal .cpd-dialog .cpd-header a:visited {
        text-decoration: none;
        padding-left: 0; }
      ._1j2t1DPDp4o5VU-RniczLb .cpd-modal .cpd-dialog .cpd-header a > img {
        height: 20px;
        width: 115.417px;
        vertical-align: middle;
        margin: 10px 0;
        border: none; }
      ._1j2t1DPDp4o5VU-RniczLb .cpd-modal .cpd-dialog .cpd-header .cpd-trust {
        margin: 10px 0 10px 10px;
        text-transform: uppercase;
        font-size: 15.5px;
        line-height: 22px;
        border-left: lightgrey 1px solid;
        padding-left: 5px;
        position: relative;
        top: 4px;
        color: #404040;
        font-weight: normal; }
        ._1j2t1DPDp4o5VU-RniczLb .cpd-modal .cpd-dialog .cpd-header .cpd-trust > img {
          width: 25.2px;
          position: relative;
          top: 1px;
          height: 19px;
          padding: 0 5px;
          border: none;
          vertical-align: baseline; }
      ._1j2t1DPDp4o5VU-RniczLb .cpd-modal .cpd-dialog .cpd-header .cpd-close {
        position: absolute;
        top: 10px;
        right: 15px;
        opacity: .6;
        margin-top: -2px;
        padding: 0;
        cursor: pointer;
        background: transparent;
        border: 0;
        -webkit-appearance: none;
        font-size: 21px;
        font-weight: 700;
        text-shadow: 0 1px 0 #fff; }
    ._1j2t1DPDp4o5VU-RniczLb .cpd-modal .cpd-dialog .cpd-body {
      padding: 15px;
      font-size: 12px;
      line-height: 1.5em; }
    ._1j2t1DPDp4o5VU-RniczLb .cpd-modal .cpd-dialog .cpd-headline {
      font-size: 14px;
      margin-bottom: 17px; }

@media (min-width: 768px) {
  ._1j2t1DPDp4o5VU-RniczLb .cpd-modal .cpd-dialog .cpd-header a > img {
    height: 22px;
    width: 123.417px; }
  ._1j2t1DPDp4o5VU-RniczLb .cpd-modal .cpd-dialog .cpd-header .cpd-trust {
    font-size: 19px;
    padding-left: 10px; }
    ._1j2t1DPDp4o5VU-RniczLb .cpd-modal .cpd-dialog .cpd-header .cpd-trust > img {
      width: 23.2px;
      height: 17px; }
  ._1j2t1DPDp4o5VU-RniczLb .cpd-modal .cpd-dialog .cpd-header .cpd-close {
    top: 15px; } }
	
	
	._4PYLmZq7_XTk38_AvrdW9E * {
  box-sizing: border-box; }

._4PYLmZq7_XTk38_AvrdW9E {
  font-family: Open Sans, Arial, sans-serif !important;
  position: relative;
  transition: height 200ms;
  /**
   * Positions
   */
  /*
  @media (min-width: 768px) {
    .cpd-badge {
      padding: 14px;
      img {
        height: 22px;
      }

    }

    .cpd-trust {
      font-size: 19px;
      line-height: 22px;
      > img {
        width: 16px;
        height: 19px;
      }
    }

    &.cpd-corner-bottom-left {
      .cpd-footer {
        padding-left: 165px;
      }
    }

    &.cpd-corner-bottom-right {
      .cpd-footer {
        padding-right: 165px;
      }
    }
  }*/ }
  ._4PYLmZq7_XTk38_AvrdW9E .cpd-container {
    z-index: 99;
    position: relative;
    right: 0;
    left: 0;
    height: 45px;
    background-color: #fff; }
  ._4PYLmZq7_XTk38_AvrdW9E.cpd-with-footer .cpd-container {
    height: unset; }
  ._4PYLmZq7_XTk38_AvrdW9E .cpd-badge, ._4PYLmZq7_XTk38_AvrdW9E .cpd-footer {
    background-color: white;
    padding: 10px;
    display: block;
    text-align: center; }
  ._4PYLmZq7_XTk38_AvrdW9E .cpd-badge {
    display: flex;
    align-items: center;
    justify-content: center; }
    ._4PYLmZq7_XTk38_AvrdW9E .cpd-badge img {
      height: 20px;
      max-width: 100%;
      vertical-align: baseline;
      border: none;
      padding: 0;
      margin: 0; }
    ._4PYLmZq7_XTk38_AvrdW9E .cpd-badge > a.cpd-icon {
      text-decoration: none;
      outline: none;
      border: none;
      color: #404040; }
    ._4PYLmZq7_XTk38_AvrdW9E .cpd-badge .cpd-text {
      display: none;
      font-size: 10px;
      margin-left: 20px; }
  ._4PYLmZq7_XTk38_AvrdW9E .cpd-trust {
    text-transform: uppercase;
    font-size: 15.5px;
    line-height: 20px;
    border-left: lightgrey 1px solid;
    padding-left: 10px;
    margin-left: 10px;
    position: relative;
    top: -4px; }
    ._4PYLmZq7_XTk38_AvrdW9E .cpd-trust > img {
      position: relative;
      top: 1px;
      vertical-align: baseline;
      margin-right: 5px;
      height: 17px;
      width: 13px; }
  ._4PYLmZq7_XTk38_AvrdW9E.cpd-top .cpd-container {
    top: 0; }
  ._4PYLmZq7_XTk38_AvrdW9E.cpd-bottom.cpd-with-footer .cpd-footer {
    padding-top: 5px; }
  ._4PYLmZq7_XTk38_AvrdW9E.cpd-bottom .cpd-container {
    bottom: 0; }
  ._4PYLmZq7_XTk38_AvrdW9E.cpd-bottom.cpd-shift-1 {
    margin-top: 45px; }
    ._4PYLmZq7_XTk38_AvrdW9E.cpd-bottom.cpd-shift-1 .cpd-container {
      bottom: 45px; }
  @media (max-width: 768px) {
    ._4PYLmZq7_XTk38_AvrdW9E.cpd-bottom.cpd-shift-corner-1 {
      margin-top: 37px; }
      ._4PYLmZq7_XTk38_AvrdW9E.cpd-bottom.cpd-shift-corner-1 .cpd-container {
        bottom: 37px; } }
  ._4PYLmZq7_XTk38_AvrdW9E.cpd-corner-bottom-left .cpd-footer {
    padding-left: 130px; }
  ._4PYLmZq7_XTk38_AvrdW9E.cpd-corner-bottom-right .cpd-footer {
    padding-right: 130px; }
  ._4PYLmZq7_XTk38_AvrdW9E.cpd-sticky .cpd-container {
    position: fixed; }

._4PYLmZq7_XTk38_AvrdW9E {
  /*
   * DARK
   */ }
  ._4PYLmZq7_XTk38_AvrdW9E.cpd-gold .cpd-badge {
    background: linear-gradient(to bottom, rgba(239, 209, 0, 0.75) 0, rgba(226, 162, 51, 0.75) 38%, rgba(240, 195, 40, 0.75) 60%, rgba(255, 241, 163, 0.75) 86%, rgba(255, 225, 62, 0.75) 100%);
    color: #5E6C6E; }
    ._4PYLmZq7_XTk38_AvrdW9E.cpd-gold .cpd-badge .cpd-trust, ._4PYLmZq7_XTk38_AvrdW9E.cpd-gold .cpd-badge .cpd-text {
      color: #5E6C6E; }
    ._4PYLmZq7_XTk38_AvrdW9E.cpd-gold .cpd-badge a, ._4PYLmZq7_XTk38_AvrdW9E.cpd-gold .cpd-badge a:visited, ._4PYLmZq7_XTk38_AvrdW9E.cpd-gold .cpd-badge a:focus, ._4PYLmZq7_XTk38_AvrdW9E.cpd-gold .cpd-badge a:active {
      color: #0000ff; }
  ._4PYLmZq7_XTk38_AvrdW9E.cpd-dark.cpd-gold .cpd-badge {
    background: linear-gradient(to bottom, #efd100 0, #e2a233 38%, #f0c328 60%, #fff1a3 86%, #ffe13e 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  ._4PYLmZq7_XTk38_AvrdW9E.cpd-dark.cpd-gold.cpd-with-footer .cpd-badge,
  ._4PYLmZq7_XTk38_AvrdW9E.cpd-gold.cpd-with-footer .cpd-badge {
    color: #5E6C6E; }
    ._4PYLmZq7_XTk38_AvrdW9E.cpd-dark.cpd-gold.cpd-with-footer .cpd-badge a, ._4PYLmZq7_XTk38_AvrdW9E.cpd-dark.cpd-gold.cpd-with-footer .cpd-badge a:visited, ._4PYLmZq7_XTk38_AvrdW9E.cpd-dark.cpd-gold.cpd-with-footer .cpd-badge a:focus, ._4PYLmZq7_XTk38_AvrdW9E.cpd-dark.cpd-gold.cpd-with-footer .cpd-badge a:active,
    ._4PYLmZq7_XTk38_AvrdW9E.cpd-gold.cpd-with-footer .cpd-badge a,
    ._4PYLmZq7_XTk38_AvrdW9E.cpd-gold.cpd-with-footer .cpd-badge a:visited,
    ._4PYLmZq7_XTk38_AvrdW9E.cpd-gold.cpd-with-footer .cpd-badge a:focus,
    ._4PYLmZq7_XTk38_AvrdW9E.cpd-gold.cpd-with-footer .cpd-badge a:active {
      color: #0000ff; }
  ._4PYLmZq7_XTk38_AvrdW9E.cpd-with-text .cpd-badge .cpd-text {
    display: inline-block; }
  ._4PYLmZq7_XTk38_AvrdW9E.cpd-with-text .cpd-badge .cpd-trust {
    display: none; }
  ._4PYLmZq7_XTk38_AvrdW9E .cpd-badge {
    background-color: white;
    font-size: 10px; }
  ._4PYLmZq7_XTk38_AvrdW9E.cpd-red .cpd-badge {
    background: linear-gradient(#ffbfbf 0%, #ce6969 100%); }
  ._4PYLmZq7_XTk38_AvrdW9E.cpd-red .cpd-trust {
    color: #505050; }
  ._4PYLmZq7_XTk38_AvrdW9E.cpd-blue .cpd-badge {
    background: linear-gradient(#e0f3ff 0%, #addaff 100%); }
  ._4PYLmZq7_XTk38_AvrdW9E.cpd-blue .cpd-trust {
    color: #505050; }
  ._4PYLmZq7_XTk38_AvrdW9E.cpd-green .cpd-badge {
    background: linear-gradient(#f2ffe0 0%, #d1ff8c 100%); }
  ._4PYLmZq7_XTk38_AvrdW9E.cpd-green .cpd-trust {
    color: #505050; }
  ._4PYLmZq7_XTk38_AvrdW9E.cpd-dark.cpd-with-footer .cpd-badge,
  ._4PYLmZq7_XTk38_AvrdW9E.cpd-dark .cpd-trust, ._4PYLmZq7_XTk38_AvrdW9E.cpd-dark .cpd-text {
    color: #eaeaea; }
  ._4PYLmZq7_XTk38_AvrdW9E.cpd-dark.cpd-with-footer .cpd-badge,
  ._4PYLmZq7_XTk38_AvrdW9E.cpd-dark .cpd-badge {
    font-size: 10px;
    background-color: #2e3436; }
    ._4PYLmZq7_XTk38_AvrdW9E.cpd-dark.cpd-with-footer .cpd-badge a,
    ._4PYLmZq7_XTk38_AvrdW9E.cpd-dark .cpd-badge a {
      color: #dddddd; }
  ._4PYLmZq7_XTk38_AvrdW9E.cpd-dark.cpd-green .cpd-badge {
    background: linear-gradient(#9BC90D 0%, #79A70A 100%); }
  ._4PYLmZq7_XTk38_AvrdW9E.cpd-dark.cpd-red .cpd-badge {
    background: linear-gradient(#F70505 0%, #8F0808 100%); }
  ._4PYLmZq7_XTk38_AvrdW9E.cpd-dark.cpd-blue .cpd-badge {
    background: linear-gradient(#2989d8 0%, #1e5799 100%); }
	
	
	
	._1j2t1DPDp4o5VU-RniczLb * {
  box-sizing: border-box; }

._1j2t1DPDp4o5VU-RniczLb .cpd-modal {
  font-family: Open Sans, Arial, sans-serif !important;
  display: none;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 2147483647;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0; }
  ._1j2t1DPDp4o5VU-RniczLb .cpd-modal.cpd-open {
    display: block; }
  ._1j2t1DPDp4o5VU-RniczLb .cpd-modal .cpd-dialog {
    max-width: 550px;
    margin: 0 auto;
    border: 1px solid #ccc;
    color: #2f485c;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    top: 20px;
    position: relative;
    background-color: #fff; }
    ._1j2t1DPDp4o5VU-RniczLb .cpd-modal .cpd-dialog .cpd-header {
      padding: 5px 15px;
      border-bottom: 1px solid #ccc; }
      ._1j2t1DPDp4o5VU-RniczLb .cpd-modal .cpd-dialog .cpd-header a, ._1j2t1DPDp4o5VU-RniczLb .cpd-modal .cpd-dialog .cpd-header a:visited {
        text-decoration: none;
        padding-left: 0; }
      ._1j2t1DPDp4o5VU-RniczLb .cpd-modal .cpd-dialog .cpd-header a > img {
        height: 20px;
        width: 115.417px;
        vertical-align: middle;
        margin: 10px 0;
        border: none; }
      ._1j2t1DPDp4o5VU-RniczLb .cpd-modal .cpd-dialog .cpd-header .cpd-trust {
        margin: 10px 0 10px 10px;
        text-transform: uppercase;
        font-size: 15.5px;
        line-height: 22px;
        border-left: lightgrey 1px solid;
        padding-left: 5px;
        position: relative;
        top: 4px;
        color: #404040;
        font-weight: normal; }
        ._1j2t1DPDp4o5VU-RniczLb .cpd-modal .cpd-dialog .cpd-header .cpd-trust > img {
          width: 25.2px;
          position: relative;
          top: 1px;
          height: 19px;
          padding: 0 5px;
          border: none;
          vertical-align: baseline; }
      ._1j2t1DPDp4o5VU-RniczLb .cpd-modal .cpd-dialog .cpd-header .cpd-close {
        position: absolute;
        top: 10px;
        right: 15px;
        opacity: .6;
        margin-top: -2px;
        padding: 0;
        cursor: pointer;
        background: transparent;
        border: 0;
        -webkit-appearance: none;
        font-size: 21px;
        font-weight: 700;
        text-shadow: 0 1px 0 #fff; }
    ._1j2t1DPDp4o5VU-RniczLb .cpd-modal .cpd-dialog .cpd-body {
      padding: 15px;
      font-size: 12px;
      line-height: 1.5em; }
    ._1j2t1DPDp4o5VU-RniczLb .cpd-modal .cpd-dialog .cpd-headline {
      font-size: 14px;
      margin-bottom: 17px; }

@media (min-width: 768px) {
  ._1j2t1DPDp4o5VU-RniczLb .cpd-modal .cpd-dialog .cpd-header a > img {
    height: 22px;
    width: 123.417px; }
  ._1j2t1DPDp4o5VU-RniczLb .cpd-modal .cpd-dialog .cpd-header .cpd-trust {
    font-size: 19px;
    padding-left: 10px; }
    ._1j2t1DPDp4o5VU-RniczLb .cpd-modal .cpd-dialog .cpd-header .cpd-trust > img {
      width: 23.2px;
      height: 17px; }
  ._1j2t1DPDp4o5VU-RniczLb .cpd-modal .cpd-dialog .cpd-header .cpd-close {
    top: 15px; } }
	
	[class^="vt-loading"]{box-sizing:border-box;font-family:Arial,Helvetica,sans-serif;text-decoration:none}.vt-loading-wrapper{position:absolute;top:0;left:0;width:100%;height:100%;z-index:99999;background-color:#000;color:#fff;display:flex!important;justify-content:center;align-items:center}.vt-loading-percentage{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);font-size:18px;font-weight:600}#smartplayer .vt-loading-percentage{content:"99%"}.vt-loading-android-spinner{width:80px;aspect-ratio:1;border-radius:50%;background:radial-gradient(farthest-side,#E50914 94%,#0000) top/8px 8px no-repeat,conic-gradient(#0000 30%,#E50914);-webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);animation:vt-loading-android-spinner-animation .75s infinite linear}@keyframes vt-loading-android-spinner-animation{100%{transform:rotate(1turn)}}[class^="vt-loading"]{box-sizing:border-box;font-family:Arial,Helvetica,sans-serif;text-decoration:none}.vt-loading-wrapper{position:absolute;top:0;left:0;width:100%;height:100%;z-index:99999;background-color:#000;color:#fff;display:flex!important;justify-content:center;align-items:center}.vt-loading-percentage{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);font-size:18px;font-weight:600}#smartplayer .vt-loading-percentage{content:"99%"}.vt-loading-android-spinner{width:80px;aspect-ratio:1;border-radius:50%;background:radial-gradient(farthest-side,#E50914 94%,#0000) top/8px 8px no-repeat,conic-gradient(#0000 30%,#E50914);-webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);animation:vt-loading-android-spinner-animation .75s infinite linear}@keyframes vt-loading-android-spinner-animation{100%{transform:rotate(1turn)}}